@include font-face(D7, "../fonts/digital-7");
@include font-face(GMedium, "../fonts/gotham-medium-1");
@include font-face(GBold, "../fonts/gotham-bold");
@include font-face(GBlack, "../fonts/gotham-black");

// Fonts
$font-medium:GMedium;
$font-bold:GBold;
$font-black:GBlack;
$font-ultra:GUltra;
$font-alt:D7;

// Color palette
$wht: rgb(255, 255, 255);
$yll: rgb(255, 221, 0);
$tty: rgb(254, 221, 0);
$red: rgb(238, 42, 45);
$inp: rgb(110, 110, 110);
$blk: rgb(0, 0, 0);

// titles
%title {font-family: $font-alt; font-weight: 500; text-transform: uppercase; margin: 0;}
%title1 {@extend %title; font-size: rem(28);}
%title2 {@extend %title; font-size: rem(24);}

// flex inherit
%flex-row {display: flex; flex-direction: row;}
%flex-col {display: flex; flex-direction: column;}

// Buttons 
%btn {display: block; color: $wht; line-height: 1.8rem; text-align: center; text-transform: uppercase; text-decoration: none; border:1px solid; border-radius:10px; cursor: pointer; transition: background-color 500ms; }
%btn-hover {text-decoration: underline; transition: background-color 500ms;}

// Media Queries
@mixin s($size) {
    @if $size == sm {
      @media (max-width: 465px) { @content; }
    } @else if $size == md {
      @media (max-width: 750px) { @content; }
    } @else if $size == lg {
      @media (max-width: 990px) { @content; }
    } @else if $size == xl {
      @media (max-width: 1290px) { @content; }
    } @else if $size == xxl {
      @media (max-width: 1800px) { @content; }
    }
  }