@import '_functions';
@import '_main';

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 5.15vw;
}
body {
    font-family: $font-black;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}
.fullWidth {
    display:block;
    width: 100%;
}
.fixWidth {
    width: 95%;
    max-width: 1488px;
    margin: 0px auto;
}
.endImg {
    display: block;
    position: relative;
    height: 55px;
    bottom: 136px;
}

.btn {
    display: block;
    background: $blk;
    border: 5px solid $wht;
    border-radius: 55px;
    padding: 25px 0;
    width: 24%;
    margin: 11% auto 0;
    color: $yll;
    font-size: 0.40rem;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;

    span {
        display: block;
        font-size: 0.25rem;
        letter-spacing: 0;
    }
    img {
        position: absolute;
        right: 10px;
        bottom: -45px;
        height: 75%;
    }
}

/* general styles */
#header, #footer {
    background: $blk;
    img {
        width: 35vw;
        min-width: 200px;
    }   
}
#header {
    padding: 3.5% 0 3.9%;
    max-height: 365px;
}

#body {
    background: $yll;
    &Top {
        font-size: 1rem;
        padding-top: 7%;
        margin-bottom: -190px;
        p span {display: block;}
        .bigRed {
            margin-bottom: 5.3%;
            strong {
                font-size: 3.21rem;
                color: $red;
                letter-spacing: -0.03rem;
            }
            span {
                text-transform: capitalize;
                font-size: 1.21rem;
                margin-top: 0.4%;
            }
        }
        img {
            width: 80%;
            max-width: 1460px;
            position: relative;
            z-index: 10;
        }
        .endImg {
            background: url('/img/yellow-curve-up.png') repeat-x;
        }
    }
    &Mid {
        background: url('/img/background.jpg') no-repeat bottom fixed;
        background-size: cover;
        color: $yll;
        padding-top: 11.75%;
        font-weight: normal;
        overflow: hidden;
        margin-bottom: -14.85%;
        p {
            font-size: 0.6rem;
        }
        & > p:nth-child(2) {
            color: $wht;
            font-size: 0.88rem;
            text-transform: capitalize;
            strong {
                color: $yll;
                display: block;
                font-size: 2.1rem;
                font-weight: normal;
                margin: 0.45% 0;
            }
        }
        ul {
            @extend %flex-row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1480px;
            margin: 60px auto;
            position: relative;
            z-index: 10;
            li{
                display: inline-block;
                width: 30%;
                max-width: 455px;
                text-align: center;
                margin: 1.5% 1.5% 3.5%;
                position: relative;
                text-transform: uppercase;
                img { 
                    display: block;
                    width: 100%;
                    max-width: 455px;
                    border: 1px solid;
                    border-radius: 250px;
                    position: relative;
                }
                .titulo{
                    display: block;
                    width: 39%;
                    font-size: 0.25rem;
                    font-weight: 600;
                    position: absolute;
                    top: 15px;
                    left: 31%;
                    background: #000;
                    padding: 12px 0;
                    text-align: center;
                }
                .hablador{
                    display: block;
                    width: 46%;
                    position: absolute;
                    bottom: -40px;
                    left: 27%;
                    background: #000;
                    padding: 12px 0;
                    text-align: center;
                    text-transform: uppercase;
                    .cur {
                        @extend %flex-row;
                        align-items: center;
                        justify-content: center;                        
                        font-family: $font-alt;
                        font-weight: 500;
                        font-size: 0.76rem;
                        i {
                            font-family: $font-black;
                            font-size: 0.37rem;
                            font-style: normal;
                            font-weight: 600;
                        }
                    }
                    p { 
                        font-size: 0.25rem;
                        font-weight: 600;    
                        &.antes {
                            @extend %flex-row;
                            justify-content: center;
                            align-items: center;
                            font-size: 0.15rem;
                            color:$wht;
                            .cur {
                                font-size: 0.25rem;
                                i {
                                    font-size: 0.15rem;
                                    margin: 0 2px 0 3px;
                                }
                            }
                        }
                        &.tiny {
                            color: $wht;
                            font-size: 0.15rem;
                        }
                    }
                }
            }
            .red img {border-color: $red;}
            .yellow img {border-color: $yll;}
        }
    }
    &Bot {
        text-align: center;
        background: $yll;
        position: relative;
        font-size: 1rem;
        padding-bottom: 5%;
        .endImg {
            background: url('/img/yellow-curve-down.png') repeat-x;
            top: -54px;
        }
    }
}
#formSec{
    display: flex;
    flex-direction: row;
    width: 100%;
    .texto {
        background: $red;
        color: $wht;
        font-family: $font-medium;
        font-weight: 500;
        font-size: 0.45rem;
        letter-spacing: 2px;
        line-height: 1.2;
        width: 60%;
        position: relative;
        .container {
            @extend %flex-col;
            justify-content: center;
            align-items: center;
            width: 90%;
            max-width: 890px;
            margin: 0 auto;
            padding-top: 12%;
            p:nth-child(1){
                width: 100%;
                span {
                    letter-spacing: 4px;
                }
            }
            p:nth-child(2) {
                font-family:$font-black;
                font-size: 0.89rem;
                line-height: 1;
                margin: 3.75% 0 5.5%;
                span {
                    font-size: 1rem;
                    span {
                        color: $yll;
                    }
                }
            }
            p:nth-child(3) {
                width: 100%;
            }
            ul {
                display: grid;
                grid-template-rows: 1fr 1fr;
                row-gap: 25px;
                margin-top: 7%;
                background: $blk;
                padding: 20px 38px 35px;
                text-align: left;
                width: 85%;
                li {
                    @extend %flex-row;
                    align-items: center;
                    line-height: 0.88rem;
                    list-style: none;
                    letter-spacing: 0;
                    img {
                        display: block;
                        width:12% ;
                        height: 99%;
                        margin-right: 4.5%;
                        
                    }
                    &:nth-child(1){
                        font-family: $font-black;
                        font-size: 0.74rem;
                    }
                    /*
                    &:nth-child(2) {
                        background-position: 0 -86px;
                    }
                    */
                }
            }
        }
        .btn {
            bottom: -60px;
            font-family: $font-black;
            line-height: 1;
            width: 39.5%;
            z-index: 100;
        }
    }
    .form {
        background: $blk;
        color: $tty;
        width: 40%;
        font-family: $font-medium;
        font-size: 0.35rem;
        text-align: left;
        padding: 4.5% 0;
        #brand, form {
            width: 90%;
            max-width: 675px;
            margin: 0 auto;
        }
        #brand {
            display: flex;
            align-items: end;
            margin-bottom: 4.3%;
            img {
                margin-right: 30px;
            }
            .ttw {
                color: $wht;
                font-size: 0.37rem;
                line-height: 0.4rem;
                font-family: $font-black;
            }
            .tty {
                border-top: 1px solid $yll;
                font-size: 0.28rem;
                line-height: 0.7rem;
                margin-top: 1.5%;
            }
        }
        form {
            font-size: 0.31rem;
            label, input {
                width: 100%;
            }
            label {
                display: block;
                padding-left: 0.75%;
                margin-bottom: 1.5%;
            }
            input {
                height: 70px;
                margin-bottom: 3%;
                font-size: 0.4rem;
                text-indent: 0.25rem;
                color: $inp;
            }
            button {
                display: block;
                background: $red;
                text-align: center;
                margin: 3% auto;
                max-width: 240px;
                padding: 25px 25px;
                text-transform: uppercase;
                font-family: $font-medium;
                font-size: 0.31rem;
                line-height: 1.2;
                color: $tty;
                border: 0;
                &:hover, &:active {
                    background: darken($red, 15%);
                }
            }
            i {
                font-size: 0.18rem;
                font-style: normal;
                text-transform: capitalize;
                color: $wht;
                text-align: center;
                display: block;
            }
        }
    }
}
#footer {
    position: relative;
    .yellow {
        background: $yll;
        padding-top: 10.1%;
    }
    .endImg {
        background: url('/img/yellow-curve-up.png') repeat-x;
        bottom: 0px;
        z-index: 1;
    }
    .black {
        position: relative;
        margin-top: -7.2%;
        z-index: 10;
        padding-bottom: 6.8%;
    }
    

    /*

    background-image: linear-gradient(to bottom, $yll 40%, $blk 40%);
    padding: 3% 0 6%;
    line-height: 0;
    img {
        position: relative;
        width: 36vw;
        z-index: 10;
    }
    */
}

/*

#head {
    background: $lbl;
    padding: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    
    #navHead {
        display: grid;
        grid-template-columns:62px 2fr 250px;
        column-gap:15px;
        align-items: center;
        @include s(md) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include s(sm) {
            padding-top: 10px;
            img {
                width: 40px;
            }
        }
        a {
            color: $wht;
            font-family: $font-alt;
            font-size: rem(20);
            text-decoration: none;
            margin-right:15px;
            @include s(sm) {
                font-size: rem(16);
                margin-right:10px;
            }
        }
        a:hover, a:active {
            text-decoration: underline;
            color: $lgg;
        }
        #navHeadSearch {
            @include s(md) {
                margin: 1rem 0;
            }
            form {
                display:grid;
                grid-template-columns:1fr 1fr;
                column-gap:0;
                width: min-content;
                float: inline-end;
                input {
                    border: 0;
                    line-height: 1.8rem;
                    border-radius: 25px 0 0 25px;
                    width: 190px;
                    padding-left: 15px;
                    font-family: $font-main;
                    font-size: rem(16);
                }
                button {
                    display: block;
                    background: $wht url(../img/lupa.png) center 4px no-repeat;
                    border: none;
                    border-radius: 0 25px 25px 0;
                    width:40px;
                    height: 2rem;
                }
            }
        }
    }
}
#hero {
    background: url(../img/leer-tablet-kindle-mobile.jpg) center left no-repeat;
    background-size: cover;
    margin-top: 50px;
    @include s(md) {
        margin-top: 60px;
    }
    .fixWidth {
        @extend %flex-col;
        height: 100%;
        align-items: center;
        justify-content: center;
        #brand {
            @extend %flex-col;
            justify-content: center;
            align-items: center;
            width: 90%;
            max-width: 400px;
            color: $wht;
            background: rgba(99, 159, 211, .8);
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            padding: 10px 20px 0;
            margin: 10vh 0;
            border-radius: 15px;
            h1 {
                font-family: $font-alt;
                font-size: rem(45);
                letter-spacing: 0.020em;
                margin: 0;
                @include s(sm) {
                    font-size: rem(33);                
                }
            }
            .draw {
                margin: 10px 0;
                hr {
                    width: 100%;
                    height: 1.5px;
                }
                h2 {
                    font-size: rem(14);
                }
            }
            h3 {
                font-family: $font-main;
                font-weight: 700;
                font-size: rem(17);
                margin: 0;
                @include s(sm) {
                    font-size: rem(13.5);                
                }                
            }
            #actions {
                @extend %flex-row;
                justify-content: space-evenly;
                margin: 1.5rem;
                width: 100%;
                a {
                    width: 125px;
                    font-size: rem(14);
                    font-weight: 500;
                    font-family: $font-alt;
                    letter-spacing: 0.025rem; 
                    padding: 5px 0;                  
                }
            }
        }
    }
}
#catArea {
    background: $wht;
    color: $blk;
    #categories {
        h4 {
            @extend %title1;
            margin: 0;
        }
        ul{
            @extend %flex-col;
            flex-wrap: wrap;
            margin-top: 2rem;
            height: auto;
            max-height: 400px;
            @include s(lg) {
                max-height: 520px;
            }
            @include s(md) {
                max-height: 750px;
            }
            @include s(sm) {
                font-size: 14px;
                padding: 0;
                list-style: none;
            }
            a {
                color: $blk;
                text-decoration: none;
                line-height: 1.5rem;
                display: block;
            }
            a:hover {
                text-decoration:underline;
            }
        }
    }
}
#ebooks-nuevos {
    background: $pale;
    h2 {
        @extend %title1;
    }
    .librosRecientes {
        margin: 2rem auto 0;
        width: 95%;
        @include s(md) {
            width: 90%;
        }
        .slick-prev::before, .slick-next::before {
            font-family: $font-alt;
            font-size: 2rem;
            color: $lbl;
        }
        .new-libro {
            text-align: center;
            .cover {
                display: block;
                margin-bottom: 0.5rem;
                img {
                    box-shadow: 2px 2px 3px rgba(0,0,0,.5);
                    margin: 0 auto;
                }
            }
            .title {
                font-family: $font-alt;
                font-size: 1rem;
                text-decoration: none;
                color: $lbl;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 3rem;
            }
            span {
                font-size: rem(14);
            }
        }
    }
}
#ebooks-promos {
    .fixWidth {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include s(lg) {
            display: flex;
            flex-direction: column;
        }
        h1 {
            @extend %title-book; margin: 0;
        }
        h4 {
            @extend %title1;
            margin-bottom: 2rem;
            @include s(lg) {
                margin-bottom: 3rem;
                text-align: center;
            }
        }
        article {
            @extend %flex-row;
            flex-wrap: nowrap;
            margin-bottom: 2rem;
            @include s(sm) {
                display: grid;
                grid-template-columns: 1fr 65%;
                column-gap: 1rem;
            }
        }
        img {
            flex-shrink: 0;
            margin-right: 1rem;
            height: 100%;
            @include s(sm) {
                width: 100%;
                height: auto;
            }
        }
        .packsArea {
             padding-right: 1.5rem;
             border-right: 1px solid #ddd;
             @include s(lg) {
                 border: 0;
                 padding: 0;
                 width: 90%;
                 margin: 0 auto $secPad;
             }
             .packSale, .readInfo .meta {
                @extend %flex-row;
                justify-content: space-evenly;
                align-items: center;

                 &>a {
                    font-size: rem(12);
                    font-family: $font-alt;
                    letter-spacing: 0.025rem;  
                 }
             }
             .packInfo {
                @extend %flex-col;
                flex-wrap: nowrap;
                .packSale {
                    span {
                        font-family: $font-alt;
                        font-size: rem(16);
                        color: $org;
                    }
                    a {
                        @extend .btn-lbl;
                        width: 75px;                      
                    }
                }
             }
        }
        .readsArea {
            padding-left: 1.5rem;
            border-left: 1px solid #ddd;
            @include s(lg) {
                border: 0;
                padding: 0;
                width: 90%;
                margin: 0 auto;
            }
            article {
                @include s(sm) {
                    margin-bottom: 3rem;
                }
                .readInfo {
                    h1 {
                        margin-bottom: .2rem;
                    }
                    p {
                        display: block;
                        height: 60px;
                        overflow: hidden;
                        margin-top: 10px;
                    }
                    p:after {
                        content: '...';
                    }
                    .meta {
                        ul, li {
                            font-size: rem(14);
                            padding: 0;
                            list-style: none;
                        }
                        &>a {
                            @extend .btn-lbl;
                            width: 75px;
                            font-family: $font-alt;
                            font-size: rem(12);
                        }
                    }
                }
            }
       }
       .packsArea .btn-org, .readsArea .btn-grn {
            font-size: rem(14);
            font-weight: 700;
            letter-spacing: 0.025rem;
            width: max-content;
            padding: 4px 1rem 0;
            margin: 0 auto;
            position: relative;
            bottom: 0;
       }
    }
}
#ebooks-autores {
    background: $blk url(../img/autores-escritores.jpg) center 10vh no-repeat;
    color: $wht;
   
    @include s(sm) {
        background-position: center 20vh;
    }
    
    #autor-head {
        text-align: center;
        text-shadow: 2px 2px 2px $blk;
        width: 100%;
        max-width: 735px;
        margin: 0 auto 50vh;
        @include s(md) {
            max-width: 385px;
        }
        @include s(sm) {
            max-width: 295px;
        }
        h1 {
            font-family: $font-alt;
            font-size: rem(42);
            margin: 5px auto 0;
            @include s(sm) {
                font-size: rem(32) ;
            }
        }
        h2 {
            @include s(sm) {
                font-size: rem(18) ;
            }
        }
        h3 {
            font-family: $font-main;
            font-size: rem(15);
        }
    }
    ul, li {
        padding:0;
        list-style: none;
    }
    #autor-icons {
        @extend %flex-row;
        justify-content: space-evenly;
        text-shadow: 2px 2px 2px $blk;
        @include s(sm) {
            flex-wrap: wrap;
        }
        li {
            font-family: $font-alt;
            font-size: rem(24);
            text-align: center;
            background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1),  rgba(0,0,0,0.0));
            @include s(lg) {
                width: 15%;
                min-width: 100px;
                font-size: rem(16);
                margin: 1rem 2rem;
                img {
                    width: 100%;
                }
            }
        }
    }
    a {
        @extend %title2;
        color: $wht;
        display: block;
        margin: 2rem auto 0;
        text-align: center;
    }
}
#ebooks-gratis{
    h1 {
        @extend %title1;
        text-align: center;
        margin: 0 0 2rem;
        font-size: rem(35);
        @include s(sm) {
           font-size: rem(26); 
        }
    }
    #patrocinio {
        display: block;
        width: 80%;
        margin: 2rem auto 0;
        border: 1px solid rgba(255, 153, 0, 0.2);
        background: rgba(255, 180, 81, 0.2);
        padding: .75rem 1.5rem;
        border-radius: 20px;
        h2 {
            margin: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
}
#piracy{
    background: $lgg;
    h3 {
        @extend %title1;
        text-align: center;
        margin-bottom: 2rem;
        
    }
    i { font-weight: 700;}
}

#footer {
    background: $lbl;
    color: $wht;
    text-align: center;
    h3 {
        font-weight: 700;
        margin: 0;
        font-family: $font-alt;
        font-weight: 500;
    }
    p {
        margin: 0;
        font-size: rem(14);
        display: block;
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
    div {
         margin: 0 0 2rem;

        a {
            color: $wht;
            margin: 10px;
        }
    }
}
.draw {
    @extend %flex-row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    hr {
        width: 100%;
        height: 2px;
        border: none;
        background: $wht;
        margin-top: 7px;
    }
    h2 {
        margin: 0 1rem;
        font-size: rem(20);
        letter-spacing: 0.025em;
        flex-shrink: 0;
    }
}    

*/